<style>
    .page-footer {
        font-size: 10px;
        color: #555;
        position: fixed;
        bottom: 8px;
        left: 0;
        height: 10px;
        width: 100%;
        padding-bottom: 5px;
    }

    .date {
        float: left;
        margin: 0 10px;
    }
    .page-number {
        text-align: center;
    }
    .po-number {
        float: right;
        margin: 0 10px;
    }
</style>

<div class='page-footer'>
    <div class="date">{{date}}</div>
    <div class="po-number">{{list.listName}}</div>
    <div class="page-number">Page {#pageNum} of {#numPages}</div>
</div>