Resources:
  listsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName:
        Fn::GetOptionSetting:
          OptionName: listsTableName
      AttributeDefinitions:
        -
          AttributeName: "_id"
          AttributeType: "S"
      GlobalSecondaryIndexes:
        -
          IndexName:
            Fn::GetOptionSetting:
              OptionName: listsTableListNameIndex
          KeySchema:
            - AttributeName: listName
              KeyType: HASH
          Projection:
            ProjectionType: ALL
          ProvisionedThroughput:
            ReadCapacityUnits: Fn::GetOptionSetting:
              OptionName: listsTableListNameIndexReadCapUnit
            WriteCapacityUnits: Fn::GetOptionSetting:
              OptionName: listsTableListNameIndexWriteCapUnit
      KeySchema:
        -
          AttributeName: "_id"
          KeyType: "HASH"
      ProvisionedThroughput:
        ReadCapacityUnits:
          Fn::GetOptionSetting:
            OptionName: listsTableReadCapUnit
        WriteCapacityUnits:
          Fn::GetOptionSetting:
            OptionName: listsTableWriteCapUnit

  projectsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName:
        Fn::GetOptionSetting:
          OptionName: projectsTableName
      AttributeDefinitions:
        -
          AttributeName: "_id"
          AttributeType: "S"
      GlobalSecondaryIndexes:
        -
          IndexName:
            Fn::GetOptionSetting:
              OptionName: projectsTableProjectNameIndex
          KeySchema:
            - AttributeName: projectName
              KeyType: HASH
          Projection:
            ProjectionType: ALL
          ProvisionedThroughput:
            ReadCapacityUnits: Fn::GetOptionSetting:
              OptionName: projectsTableProjectNameIndexReadCapUnit
            WriteCapacityUnits: Fn::GetOptionSetting:
              OptionName: projectsTableProjectNameIndexWriteCapUnit
      KeySchema:
        -
          AttributeName: "_id"
          KeyType: "HASH"
      ProvisionedThroughput:
        ReadCapacityUnits:
          Fn::GetOptionSetting:
            OptionName: projectsTableReadCapUnit
        WriteCapacityUnits:
          Fn::GetOptionSetting:
            OptionName: projectsTableWriteCapUnit
