body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100%;
  background-color: #D7CEC7;
  color: #565656;
}

.moto {
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: #eba3a3;
}

/* CUSTOM THEME */
.firstletter-capitalise {
  text-transform:capitalize;
}

/* Header */
.ui.header {
  color: #76323F;
  font-family: 'Allura', cursive;
}

.ui.header.header-dropdown {
  color: #565656;
  font-family: 'Josefin Sans', sans-serif;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background-color:#565656;
}

.ui.divider {
  color: #76323F;
  font-family: 'Josefin Sans', sans-serif;
}

/* Footer */

.footer-header {
  margin: 0 !important;
}

@media (min-height: 800px) {
  .ui.segment { /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* Cards */
.ui.card, .ui.cards>.card {
  background-color: #ebe1d9;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
  font-family: 'Josefin Sans', sans-serif;
  color: #76323F;
}

/* Nav Menu Ites */

.ui.menu {
  background-color: #565656;
  font-family: 'Josefin Sans', sans-serif;
}

.ui.menu .item {
  color: #FFF;
}

/* Tables */

.ui.table {
  background-color: #ebe1d9;
  font-family: 'Josefin Sans', sans-serif;
}

.ui.table thead th {
  background-color: #d1c3b9;
  color: #FFF;
}

.ui.table tbody {
  color: #565656;
}

.ui.table tfoot th {
  background-color: #d1c3b9;
  color: #FFF;
}

/* Input */

.ui.input {
  font-family: 'Josefin Sans', sans-serif;
  color: #565656;
}

.ui.input.focus input.active {
  background-color: #ebe1d9;
  font-family: 'Josefin Sans', sans-serif;
  color: #565656;
}

.ui.input input {
  background-color: #ebe1d9;
  font-family: 'Josefin Sans', sans-serif;
  color: #565656;
}

.ui.form input[type=text] {
  background-color: #ebe1d9;
  font-family: 'Josefin Sans', sans-serif;
  color: #565656;
}

.ui.selection.dropdown {
  background-color: #ebe1d9;
  color: #565656;
}

.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
  color: #565656;
}

.ui.dropdown .menu>.item {
  color: #565656;
  font-family: 'Josefin Sans', sans-serif;
}

/* Buttons */
.ui.button {
  font-family: 'Josefin Sans', sans-serif;
}

.ui.blue.button {
  background-color: #a2b7e3;
}

.ui.green.button {
  background-color: #a3ebd0;
}

.ui.pink.button {
  background-color: #eba3a3;
}

.ui.red.button {
  background-color: #76323F;
}

/* Buttons:hover */

.ui.blue.button:hover {
  background-color: #8aa7e2;
}

.ui.blue.button:focus {
  background-color: #8aa7e2;
}

.ui.green.button:hover {
  background-color: #8fccb3;
}

.ui.green.button:focus {
  background-color: #8fccb3;
}

.ui.pink.button:hover {
  background-color: #cc8986;
}

.ui.pink.button:focus {
  background-color: #cc8986;
}

.ui.red.button {
  background-color: #76323F;
}

/* Icon */

.ui.basic.icon.labeled.button .icon {
  background: transparent;
}

/* Label */

.ui.brown.label {
  background-color: #C09F80 !important;
}

.ui.label {
  background-color: #C09F80;
}

/* Label:hover */
.ui.brown.label:hover {
  background-color: #997d63 !important;
}

/* Loader */
.ui.dimmer .ui.loader {
  color: #8fccb3;
  font-family: 'Allura', cursive;
  font-size: 1.7em;
}

.ui.dimmer {
  color: #cc8986;
}

/* PDF */
.ui.pdf {
  color: #FFF;
  background-color: #a2b7e3;
}

.ui.pdf:hover {
  color: #FFF;
  background-color: #8aa7e2;
}